<html>
<head>
    <title>Login</title>
</head>
<body>
<hgroup>
    <h1>Spark Test</h1>
    <h2>Login</h2>
</hgroup>

<form method="post">
    <p>Username: <input name="username"/></p>
    <p>Password: <input name="password" type="password"/></p>
    <input type="submit"/>
</form>
</body>
</html>